.hero>.controllers {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.hero>.controllers>.hero_arrow_left {
    align-self: center;
    justify-self: start;
    position: sticky;
    left: 20px;
}

.hero>.controllers>.hero_arrow_right {
    align-self: center;
    justify-self: end;
    position: sticky;
    right: 20px;
}

.hero>.sliders__holder {
    display: grid;
    background-color: #fff;
    height: 100%;
    position: relative;
    grid-gap: .1rem;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hero>.sliders__holder>.hero_item {
    position: relative;
    height: 100%;
    width: 100vw;
    background-color: black;
}

.hero>.sliders__holder>.hero_item>.hero_item_image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    opacity: .6;
}

.hero>.sliders__holder>.hero_item>figcaption {
    position: absolute;
    top: 5%;
    left: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 2fr 2fr 4fr;
    grid-template-areas: "pre_title""title""description""cta_btn";
    background: rgba(7, 163, 88, 0.4);
    border-radius: 5px;
    padding: 30px;
    height: 70%;
}

.hero>.sliders__holder>.hero_item>figcaption>.pre_title {
    grid-area: pre_title;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 7rem;
    color: #FFFFFF;
    align-self: end;
    width: min-intrinsic;
    /* old Chrome, Safari */
    width: -webkit-min-content;
    /* less old Chrome, Safari */
    width: -moz-min-content;
    /* current Firefox */
    width: min-content;
    /* current Chrome, Safari; not IE or Edge */
}


.hero>.sliders__holder>.hero_item>figcaption>.cta_btn {
    grid-area: cta_btn;
    @include cta_btn;
    position: relative;
    width: 100%;
    background-color: #ff0000;
}


//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {
    .hero>.sliders__holder>.hero_item>figcaption {
        height: 60%;
    }

    .hero>.sliders__holder>.hero_item>figcaption>.pre_title {
        font-size: 4rem;
    }

}