.summary_intro__holder>.topic {
    width:60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 5rem;
    line-height: 5rem;
    color: #000000;
}

.summary_intro__holder>div>.intro {
    font-family: Roboto;
    font-style: normal;
    // font-weight: 400;
    font-size: 1.5rem;
    // line-height: 1rem;
    text-align: justify;
    color: #000000;
}