section.hero {
    display: grid;
    background-color: #fff;
    height: 80vh;
    position: relative;
    // top:10vh;
    top: 0;
}


.hero>.controllers {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-left: 30px;
    padding-right: 30px;

    &>.hero_arrow_left {
        align-self: center;
        justify-self: start;
        position: sticky;
    }

    &>.hero_arrow_right {
        align-self: center;
        justify-self: end;
        // padding-right: 20px;
        position: sticky;
        // right: 20px;
    }
}


.hero>.sliders__holder {
    display: grid;
    background-color: #fff;
    height: 100%;
    position: relative;
    grid-gap: .1rem;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
    scrollbar-width: none;
    -ms-overflow-style: none;

    &>.hero_item {
        position: relative;
        height: 100%;
        width: 100vw;
        max-width: var(--maxWebpageWidth);

        &>.hero_item_image {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: 5px;
            height: 100%;
            width: 100%;
        }

        &>figcaption {

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;

            &>div {
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 80px;
                gap: 1rem;

                &>.pre_title {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 1rem;
                    color: #FFFFFF;
                }

                &>.title {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 1000;
                    font-size: 3rem;
                    color: #FFFFFF;

                    &>span {
                        font-family: Rock Salt;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 2rem;
                        color: #FFFFFF;
                    }
                }

                &>.description {
                    width: 45%;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                    color: #FFFFFF;
                }

                &>.cta_btn {
                    @include cta_btn(null, null);
                    line-height: normal;
                    min-width: 10rem;
                    min-height: 2rem;
                }
            }

        }
    }
}

// .hero>.sliders__holder>

//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {
    .hero>.sliders__holder>.hero_item>figcaption>.pre_title {

        padding-left: 2.8rem;
    }

    .hero>.sliders__holder>.hero_item>figcaption>.title {
        padding-left: 2.8rem;
    }

    .hero>.sliders__holder>.hero_item>figcaption>.description {
        max-width: 75%;
        padding-left: 2.8rem;
    }

    .hero>.sliders__holder>.hero_item>figcaption>.cta_btn {

        left: 2.8rem;
    }


}