.player_of_the_season_text__holder > .title{
    grid-area: title;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #000000;

    justify-self: center;
    align-self: center;
    margin-top: 5rem;
    text-align: center;

}
.player_of_the_season_text__holder > .title > span{
// width: 352px;
// height: 41px;
font-family: Rock Salt;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 41px;
text-transform: uppercase;
color: #000000;
}

.player_of_the_season_text__holder > .separator{
    grid-area: separator;
    justify-self: center;
    align-self: center;
}
.player_of_the_season_text__holder > .description{
    grid-area: description;
    // width: 557px;
    // height: 34px;
    // font-family: Roboto;
    // font-style: normal;
    // font-weight: normal;
    // font-size: 10px;
    // line-height: 12px;
    // text-align: center;
    // color: #000000;

    // justify-self: center;
    // align-self: center;
    // margin-bottom: 5rem;


    width: 70%;
    font-family: Roboto;
    font-style: normal;
    // font-size: 0.625rem;
    // line-height: 0.75rem;
    text-align: center;
    color: #000000;

    justify-self: center;
    align-self: center;
    margin-bottom: 5rem;

    @include description_text;
    font-weight: normal;

    
}


//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {
}