
section.our_sponsors_text__holder {
    @include title_separator_description__holder;
}

/*
section.our_sponsors_text__holder {
    display: grid;
    padding: var(--pagePadding);
    background-color: #fff;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr .4fr 4fr;
    grid-template-areas: "title""separator""description";
}

.our_sponsors_text__holder>.title {
    grid-area: title; 
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #000000;
    justify-self: center;
    align-self: center;
    margin-top: var(--upDownPadding);
}

.our_sponsors_text__holder>.separator {
    grid-area: separator;
    justify-self: center;
    align-self: center;
}

.our_sponsors_text__holder>.description {
    grid-area: description; 
    width: 70%;
    font-family: Roboto;
    font-style: normal;
    text-align: center;
    color: #000000;
    justify-self: center;
    align-self: center;
    margin-bottom: var(--upDownPadding);
    @include description_text;
    font-weight: normal;    
}
 


//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {

}
*/