section.our_sponsors_images__holder {
    padding: var(--pagePadding);
    background-color: #fff;
    height: auto;
    
    // display: grid;
    // grid-template-columns: repeat(auto-fit, 300px);
    // grid-template-rows: auto;
    // grid-gap: 5rem;
    // justify-content: center;
    // place-items: center;
    // align-items: center;
    // grid-auto-flow: column;
    overflow-x: scroll;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding-top:30px;
    padding-bottom:30px;

    // background-color: blueviolet;


    // padding-bottom: var(--upDownPadding);

    scrollbar-width: none;
    -ms-overflow-style: none;
    
}
