
section.player_of_the_season_images__holder {
    display: grid;
    padding: var(--pagePadding);
    background-color: #fff;
    min-height: 50vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    grid-gap: 1rem;
}


.player_of_the_season_images__holder>.img__holder>img {
    // height: 145px;
    // height: 5rem ;
    height: 100%;
    width: 100%;
}

.player_of_the_season_images__holder>.img__holder>.player_of_the_season_a {
    object-fit: cover;
}

.player_of_the_season_images__holder>.img__holder>.player_of_the_season_b {
    object-fit: cover;
}

.player_of_the_season_images__holder>.img__holder>.player_of_the_season_c {
    object-fit: cover;
}


.player_of_the_season_images__holder>.img__holder {
    display: grid;
    // min-height: 40vh;

    grid-template-columns: 123fr 123fr 420fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-items: center;
}



.player_of_the_season_images__holder>.btn__holder {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    // padding-top: 2rem;
    // padding-bottom: 2rem;
    justify-items: center;
}

.player_of_the_season_images__holder>.btn__holder>button {
    // width: 140px;
    // height: 26px;
    // background: #07A358;
    // border-radius: 6px;
    // font-family: Roboto;
    // font-style: normal;
    // font-weight: 500;
    // font-size: 11px;
    // line-height: 13px;
    // color: #FFFFFF;
    // border: none;

    @include cta_btn(null,null);
}

//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {
}