section.about__holder {
    @include title_separator_description__holder;
    /*
    
    display: flex;
    flex-direction: column;
    background-color: var(--touchWhite);
    justify-content: center;
    align-items: center;
    height:25vh;
    gap:1rem;

    &>.title {
        grid-area: title;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: #000000;
    }

    &>.separator {
    }

    &>.description {
        grid-area: description;
        width: 70%;
        font-family: Roboto;
        font-style: normal;
        text-align: center;
        color: #000000;
        @include description_text;
        font-weight: normal;
    }
    */
}

/*
section.about__holder {
    display: grid;
    padding: var(--pagePadding);
    background-color: #fff;
    grid-template-columns: 1fr;
    // grid-template-rows: 4fr 1fr 4fr;
    grid-template-rows: 3fr .4fr 4fr;
    grid-template-areas: "title""separator""description";
}

.about__holder>.title {
    grid-area: title;

    // width: 22.5rem;
    // height: 1.75rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #000000;

    justify-self: center;
    align-self: center;
    margin-top: 5rem;
    text-align: center;
}

.about__holder>.separator {
    grid-area: separator;
    justify-self: center;
    align-self: center;
}

.about__holder>.description {
    grid-area: description;
    // width: 29.9375rem;
    // height: 2.125rem;
    width: 70%;
    font-family: Roboto;
    font-style: normal;
    // font-size: 0.625rem;
    // line-height: 0.75rem;
    text-align: center;
    color: #000000;
    justify-self: center;
    align-self: center;
    margin-bottom: 5rem;
    @include description_text;
    font-weight: normal;
}

//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {}


*/