section.what_is_touch_rugby__holder {
    display: grid;
    padding: var(--pagePadding);
    background-color: #fff;
    // min-height: 60vh;
    // grid-template-columns: 4fr 1fr;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr;
}


.what_is_touch_rugby__holder>.img__holder {
    grid-column: 1/6;
    grid-row: 1;
    border-radius: 10px;
    background: url(../images/what_is_touch.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    // height: 50vh;
    height: 450px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.what_is_touch_rugby__holder>.text__holder {
    display: grid;
    grid-column: 5/7;
    grid-row: 1;
    background: transparent;
    align-items: center;
    // border: solid green 3px;;
}

.what_is_touch_rugby__holder>.text__holder>div {
    /*
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 4fr 4fr;
    height: 40vh;
    background: #FFFFFF;
    border-radius: 5px;
    border:solid 1px grey;
    */

    @include title_separator_description__holder;

    &>.title>span {
        font-family: Rock Salt;
    }

}


/*
.what_is_touch_rugby__holder>.text__holder>div>.separator {
    justify-self: center;
    align-self: end;
}

.what_is_touch_rugby__holder>.text__holder>div>.title {
    // width: 222px;
    // height: 52px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    // line-height: 28px;
    text-transform: capitalize;
    color: #000000;
    justify-self: center;
    align-self: end;
    text-align: center
}


.what_is_touch_rugby__holder>.text__holder>div>.title>span {
    // width: 222px;
    // height: 52px;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    // line-height: 57px;
    text-transform: capitalize;
    color: #000000;

}

*/


.what_is_touch_rugby__holder>.text__holder>div>.description {
    // width: 279px;
    // height: 72px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    // line-height: 24px;
    text-align: center;
    color: #000000;
    // @include crop_text;
    // padding:0 2rem 0 2rem;
    justify-self: center;
    align-self: end;
    padding: 0 2rem 0 2rem;
}


.what_is_touch_rugby__holder>.text__holder>div>button {
    width: 61px;
    height: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    width: 140px;
    height: 26px;
    background: #07A358;
    border-radius: 6px;
    border: none;
    // margin:0 2rem 0 2rem;
    justify-self: center;
    align-self: center;
}



//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {
    .what_is_touch_rugby__holder>.img__holder {
        height: auto;
    }

    .what_is_touch_rugby__holder>.text__holder>div {
        margin: 10px;
        opacity: .8;

    }

    .what_is_touch_rugby__holder>.text__holder {
        grid-column: 3/7;
    }
}