/*section.player_of_the_season_images__holder {
    display: grid;
    padding: var(--pagePadding);
    background-color: #fff;
    // min-height: 50vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    grid-gap: 1rem;

}


.player_of_the_season_images__holder>.img__holder {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 300px;

    &>.player_of_the_season_a {
        object-fit: cover;
        flex: 1;
        border-top-left-radius: 3%;
        border-bottom-left-radius: 3%;
    }

    &>.player_of_the_season_b {
        object-fit: cover;
        flex: 1;
    }

    &>.player_of_the_season_c {
        object-fit: cover;
        flex: 2;
        border-top-right-radius: 3%;
        border-bottom-right-radius: 3%;
    }

}



.player_of_the_season_images__holder>.btn__holder {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    // padding-top: 2rem;
    // padding-bottom: 2rem;
    justify-items: center;
}

.player_of_the_season_images__holder>.btn__holder>button {
    // width: 140px;
    // height: 26px;
    // background: #07A358;
    // border-radius: 6px;
    // font-family: Roboto;
    // font-style: normal;
    // font-weight: 500;
    // font-size: 11px;
    // line-height: 13px;
    // color: #FFFFFF;
    // border: none;

    @include cta_btn(null, null);
}

*/

section.player_of_the_season_images__holder {
    position: relative;

    &>.controllers {
        @include scrollable_block_controllers;
    }


    &>.scroller {
        display: grid;
        background-color: #fff;
        grid-auto-flow: column;
        grid-gap: 1rem;
        overflow-x: scroll;
        grid-auto-columns: 18.75rem;
        padding-left: .2rem;
        padding-right: .2rem;
        justify-content: center;


        &>div {
            min-height: 18.75rem;
            border-radius: 5px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 4fr 1fr;
            grid-template-areas:
                "title"
                ".";
            position: relative;
            background-size: cover;
            border-radius: 5%;

            &::before {
                content: "";
                background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%);
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 5%;
            }
        }
    }
}