
section.our_journey_images__holder {
    // display: grid;
    // padding: var(--pagePadding);
    background-color: #fff;
    // height: 60vh;
    display: grid;
    padding: var(--pagePadding);
    min-height: 300px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}



// .our_journey_images__holder>div>p {
//     width: 112px;
//     height: 36px;
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 900;
//     font-size: 15px;
//     line-height: 18px;
//     text-transform: capitalize;
//     color: #FFFFFF;
// } 



.our_journey_images__holder>div>p {
    grid-area: title;
    justify-self: start;
    align-self: end;
    padding-left:1rem;
    width: 112px;
    height: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    // line-height: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.our_journey_images__holder>div {
    // height: 100%;
    min-height: 300px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: 
    "title"
    ".";
}

.our_journey_images__holder > .our_journey__extreme_level_of_sports_a {
    background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/our_journey__extreme_level_of_sports_a.svg) no-repeat;
    background-size: cover;
}

.our_journey_images__holder > .our_journey__extreme_level_of_sports_b {
    background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/our_journey__extreme_level_of_sports_b.svg) no-repeat;

    background-size: cover;
}

.our_journey_images__holder > .our_journey__extreme_level_of_sports_c {
    background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/our_journey__extreme_level_of_sports_c.svg) no-repeat;

    background-size: cover;
}
 
//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {
}