.howtoplay_cards__holder>* {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 9fr;
    grid-gap: 1rem;
}

.howtoplay_cards__holder>.card_img__left {
    grid-template-areas:
        "card_img title"
        "card_img description";
}

.howtoplay_cards__holder>.card_img__right {
    grid-template-areas:
        "title card_img"
        "description card_img";
}

.howtoplay_cards__holder>*>.card_img {
    grid-area: card_img;
    width: 100%;
    height: 100%;
}

.howtoplay_cards__holder>*>.title {
    grid-area: title;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: #000000;
}

.howtoplay_cards__holder>*>.description {
    grid-area: description;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    text-align: justify;
    color: #000000;
}


//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {


    .howtoplay_cards__holder>* {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-gap: 1rem;
    }

    .howtoplay_cards__holder>.card_img__left {
        grid-template-areas:
            "title"
            "card_img"
            "description";
    }

    .howtoplay_cards__holder>.card_img__right {
        grid-template-areas:
            "title"
            "card_img"
            "description";
    }

    .howtoplay_cards__holder>*>* {
        text-align: center;
    }


}