.thegame_text__holder>.title {
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #FFFFFF;
  justify-self: center;
  align-self: end;
}

.thegame_text__holder>.separator {
  grid-area: separator;
  justify-self: center;
  align-self: center;
}

.thegame_text__holder>.description {
  grid-area: description;
  width: 50%;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  font-size: 1rem;
  text-align: center;
  color: #FFFFFF;
  justify-self: center;
  @include description_text;
  font-weight: normal;
}




//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {
}