.howtoplay_text__holder>.title {
  grid-area: title;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000000;

  justify-self: center;
  // align-self: center;
  align-self: center;
  // margin-top: 5rem;
  margin-top: var(--upDownPadding);
}

.howtoplay_text__holder>.separator {
  grid-area: separator;
  justify-self: center;
  align-self: center;

}

// .howtoplay_text__holder>div>.description {
.howtoplay_text__holder>.description {
  grid-area: description;
  // font-family: Roboto;
  // font-style: normal;
  // font-weight: normal;
  // font-size: 16px;
  // line-height: 24px;
  // text-align: center;
  // color: #000000;
  // justify-self: center;
  // align-self: center;
  // margin-bottom: 5rem;

  width: 70%;
  font-family: Roboto;
  font-style: normal;
  // font-size: 0.625rem;
  // line-height: 0.75rem;
  text-align: center;
  color: #000000;

  justify-self: center;
  align-self: start;
  // margin-bottom: 5rem;
  // margin-top: var(--upDownPadding);
  @include description_text;
  font-weight: normal;
}

//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {
}