@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --pagePadding: 0 7.563rem 0 7.563rem;
  --oneSidePadding: 7.563rem;
  --upDownPadding: 5rem;
  --sectionMarginTop: 10vh;
}

abbr {
  text-decoration: none;
}

strong {
  font-weight: 900;
}

header {
  display: -ms-grid;
  display: grid;
  background-color: #000;
  height: 10vh;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
  -ms-grid-rows: 1.1fr 1fr;
      grid-template-rows: 1.1fr 1fr;
      grid-template-areas: "logo__holder upper_menu__holder" "logo__holder lower_menu__holder";
}

section.hero {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  height: 80vh;
  position: relative;
}

section.summary_intro__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  -ms-grid-columns: 4fr 6fr;
      grid-template-columns: 4fr 6fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding-top: var(--sectionMarginTop);
  padding-bottom: var(--sectionMarginTop);
}

section.the_team_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background: #07A358;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  place-items: center;
  padding-top: calc(var(--sectionMarginTop)/2);
  padding-bottom: calc(var(--sectionMarginTop)/2);
      grid-template-areas: "title" "separator";
  grid-gap: 1rem;
}

section.the_team_card__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background: #07A358;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: (auto)[auto-fit];
      grid-template-columns: repeat(auto-fit, auto);
  padding-top: var(--sectionMarginTop);
  padding-bottom: var(--sectionMarginTop);
  grid-gap: 5rem;
}

section.full_intro__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin: var(--sectionMarginTop) 0;
}

section.footer__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #000;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

section.footer_credits__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #000;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

header > .logo__holder {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo__holder;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
}

header > .logo__holder > .logo {
  height: 60%;
}

header > .upper_menu__holder {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: upper_menu__holder;
  background: url(../images/upper_menu__holder_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

header > .upper_menu__holder > ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr 1fr;
      grid-template-columns: 5fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding-right: var(--oneSidePadding);
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
}

header > .upper_menu__holder > ul > li.username {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: .5rem;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 12px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .upper_menu__holder > ul > li.username > img {
  -ms-grid-column-align: end;
      justify-self: end;
}

header > .upper_menu__holder > ul > li.username > span {
  -ms-grid-column-align: start;
      justify-self: start;
}

header > .upper_menu__holder > ul > li.phone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 2fr;
      grid-template-columns: .5fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: .5rem;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .upper_menu__holder > ul > li.phone > img {
  -ms-grid-column-align: end;
      justify-self: end;
}

header > .upper_menu__holder > ul > li.phone > span {
  -ms-grid-column-align: start;
      justify-self: start;
}

header > .upper_menu__holder > ul > li > button.cta_btn {
  width: 6rem;
  height: 2rem;
  background: #07A358;
  border-radius: 5px;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: .925rem;
  line-height: 12px;
  color: #FFFFFF;
  border: none;
}

header > .lower_menu__holder {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: lower_menu__holder;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .1fr 9.9fr;
      grid-template-columns: .1fr 9.9fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "first_half second_half";
}

header > .lower_menu__holder > div.first_half {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first_half;
}

header > .lower_menu__holder > ul.second_half {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: second_half;
}

header > .lower_menu__holder > ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding-right: var(--oneSidePadding);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
      grid-template-areas: "Home About News What_Is_Touch_Rugby Sponsorship Rules Contacts search_icon";
}

header > .lower_menu__holder > ul > li > a {
  text-decoration: none;
  min-width: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #FFFFFF;
  text-transform: uppercase;
}

header > .lower_menu__holder > ul > li > a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #EA215A;
          text-decoration-color: #EA215A;
  text-decoration-thickness: .3rem;
  text-underline-offset: 1.5px;
}

header > .lower_menu__holder > ul > li.Home {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Home;
  -ms-grid-column-align: end;
      justify-self: end;
}

header > .lower_menu__holder > ul > li.About {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: About;
  -ms-grid-column-align: center;
      justify-self: center;
}

header > .lower_menu__holder > ul > li.News {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: News;
  -ms-grid-column-align: center;
      justify-self: center;
}

header > .lower_menu__holder > ul > li.What_Is_Touch_Rugby {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: What_Is_Touch_Rugby;
  -ms-grid-column-align: center;
      justify-self: center;
}

header > .lower_menu__holder > ul > li.Sponsorship {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: Sponsorship;
  -ms-grid-column-align: center;
      justify-self: center;
}

header > .lower_menu__holder > ul > li.Rules {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: Rules;
  -ms-grid-column-align: center;
      justify-self: center;
}

header > .lower_menu__holder > ul > li.Contacts {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: Contacts;
  -ms-grid-column-align: end;
      justify-self: end;
}

header > .lower_menu__holder > ul > li.search_icon {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  grid-area: search_icon;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav ul > li {
  padding: 8px 8px 8px 32px;
}

/* When you mouse over the navigation links, change their color */
.sidenav ul > li > a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #EA215A;
          text-decoration-color: #EA215A;
  text-decoration-thickness: .3rem;
  text-underline-offset: 1.5px;
}

/*Button*/
.sidenav ul > li > button {
  width: 6rem;
  height: 2rem;
  background: #07A358;
  border-radius: 5px;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: .925rem;
  line-height: 12px;
  color: #FFFFFF;
  border: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px;
}

.sidemenu__holder {
  display: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --pagePadding: 0 2rem 0 2rem;
    --oneSidePadding: 2rem;
  }
  .sidemenu__holder > img {
    max-width: 1.875rem;
  }
  header {
    display: -ms-grid;
    display: grid;
    background-color: #000;
    height: 10vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo__holder sidemenu__holder";
  }
  .upper_menu__holder {
    display: none !important;
  }
  .lower_menu__holder {
    display: none !important;
  }
  header > .logo__holder {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo__holder;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-column-align: start;
        justify-self: start;
    padding-left: 2rem;
  }
  header > .logo__holder > .logo {
    height: 60%;
  }
  header > .upper_menu__holder {
    display: none;
  }
  header > .lower_menu__holder {
    display: none;
  }
  header > .sidemenu__holder {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-row-align: center;
        align-self: center;
    padding-right: 2rem;
  }
  header > .sidemenu__holder > .menu_icon_hambager_closed {
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
  }
  header > .lower_menu__holder {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: lower_menu__holder;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.hero > .controllers {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.hero > .controllers > .hero_arrow_left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  position: -webkit-sticky;
  position: sticky;
  left: 20px;
}

.hero > .controllers > .hero_arrow_right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  position: -webkit-sticky;
  position: sticky;
  right: 20px;
}

.hero > .sliders__holder {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  height: 100%;
  position: relative;
  grid-gap: .1rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hero > .sliders__holder > .hero_item {
  position: relative;
  height: 100%;
  width: 100vw;
}

.hero > .sliders__holder > .hero_item > .hero_item_image {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.hero > .sliders__holder > .hero_item > figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 6fr 2fr 2fr 4fr;
      grid-template-rows: 6fr 2fr 2fr 4fr;
      grid-template-areas: "pre_title" "title" "description" "cta_btn";
}

.hero > .sliders__holder > .hero_item > figcaption > .pre_title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pre_title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  color: #FFFFFF;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-left: 80px;
}

.hero > .sliders__holder > .hero_item > figcaption > .title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 1000;
  font-size: 3rem;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 80px;
}

.hero > .sliders__holder > .hero_item > figcaption > .title > span {
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #FFFFFF;
}

.hero > .sliders__holder > .hero_item > figcaption > .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  width: 45%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #FFFFFF;
  padding-left: 80px;
}

.hero > .sliders__holder > .hero_item > figcaption > .cta_btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cta_btn;
  width: 6rem;
  height: 2rem;
  background: #07A358;
  border-radius: 5px;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: .925rem;
  line-height: 12px;
  color: #FFFFFF;
  border: none;
  position: relative;
  left: 5rem;
  top: 2rem;
  width: 10rem;
}

.hero > .sliders__holder > .hero_item > figcaption > ._cta_btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cta_btn;
  width: 98px;
  height: 24px;
  background: #07A358;
  border-radius: 6px;
  border: none;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 8px;
  color: #FFFFFF;
  left: 80px;
}

@media (min-width: 1281px) {
  /* 
	  ##Device = Desktops
	  ##Screen = 1281px to higher resolution desktops
	*/
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* 
	  ##Device = Laptops, Desktops
	  ##Screen = B/w 1025px to 1280px
	*/
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* 
	  ##Device = Tablets, Ipads (portrait)
	  ##Screen = B/w 768px to 1024px
	*/
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* 
	  ##Device = Tablets, Ipads (landscape)
	  ##Screen = B/w 768px to 1024px
	*/
}

@media (min-width: 481px) and (max-width: 767px) {
  /* 
	  ##Device = Low Resolution Tablets, Mobiles (Landscape)
	  ##Screen = B/w 481px to 767px
	*/
}

@media (min-width: 320px) and (max-width: 480px) {
  /* 
	  ##Device = Most of the Smartphones Mobiles (Portrait)
	  ##Screen = B/w 320px to 479px
	*/
  .hero > .sliders__holder > .hero_item > figcaption > .pre_title {
    padding-left: 2.8rem;
  }
  .hero > .sliders__holder > .hero_item > figcaption > .title {
    padding-left: 2.8rem;
  }
  .hero > .sliders__holder > .hero_item > figcaption > .description {
    max-width: 75%;
    padding-left: 2.8rem;
  }
  .hero > .sliders__holder > .hero_item > figcaption > .cta_btn {
    left: 2.8rem;
  }
}

.full_intro__holder > .intro {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.625rem;
  text-align: justify;
  color: #000000;
}

.summary_intro__holder > .topic {
  width: 60%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 5rem;
  line-height: 5rem;
  color: #000000;
}

.summary_intro__holder > div > .intro {
  font-family: Roboto;
  font-style: normal;
  font-size: 1.5rem;
  text-align: justify;
  color: #000000;
}

@media screen and (max-width: 1200px) {
  .summary_intro__holder > .topic {
    font-size: 4rem;
  }
}

.the_team_card__holder > .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 6fr;
      grid-template-columns: 4fr 6fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2rem;
}

.the_team_card__holder > .card > .person {
  width: 100%;
}

.the_team_card__holder > .card > .about {
  width: 50%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1rem;
  color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .the_team_card__holder > .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .the_team_card__holder > .card > .person {
    width: 100%;
  }
  .the_team_card__holder > .card > .about {
    width: 100%;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #FFFFFF;
    text-align: center;
  }
}

.the_team_text__holder > .title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #fff;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: var(--upDownPadding);
}

.the_team_text__holder > .separator {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: separator;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__holder > div {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.footer__holder > div > ul > li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 188.6%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: .5rem 0 .5rem 0;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .footer__holder > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    min-width: 80%;
  }
  .footer__holder > div > ul > li {
    font-size: 14px;
  }
}

.footer_credits__holder > div > p {
  text-align: center;
  color: #FFFFFF;
  margin: 1rem 0 1rem 0;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1281px) {
  /* 
	  ##Device = Desktops
	  ##Screen = 1281px to higher resolution desktops
	*/
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* 
	  ##Device = Laptops, Desktops
	  ##Screen = B/w 1025px to 1280px
	*/
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* 
	  ##Device = Tablets, Ipads (portrait)
	  ##Screen = B/w 768px to 1024px
	*/
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* 
	  ##Device = Tablets, Ipads (landscape)
	  ##Screen = B/w 768px to 1024px
	*/
}

@media (min-width: 481px) and (max-width: 767px) {
  /* 
	  ##Device = Low Resolution Tablets, Mobiles (Landscape)
	  ##Screen = B/w 481px to 767px
	*/
}

@media (min-width: 320px) and (max-width: 480px) {
  /* 
	  ##Device = Most of the Smartphones Mobiles (Portrait)
	  ##Screen = B/w 320px to 479px
	*/
}

@media screen and (max-width: 1200px) {
  :root {
    --pagePadding: 0 2rem 0 2rem;
    --oneSidePadding: 2rem;
  }
  section.the_team_card__holder {
    display: -ms-grid;
    display: grid;
    padding: var(--pagePadding);
    background: #07A358;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-columns: (auto)[auto-fit];
        grid-template-columns: repeat(auto-fit, auto);
    grid-gap: 5rem;
    padding-bottom: var(--sectionMarginTop);
  }
  section.summary_intro__holder {
    display: -ms-grid;
    display: grid;
    padding: var(--pagePadding);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}
/*# sourceMappingURL=about.css.map */