@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --pagePadding: 0 7.563rem 0 7.563rem;
  --oneSidePadding: 7.563rem;
  --upDownPadding: 5rem;
}

abbr {
  text-decoration: none;
}

header {
  display: -ms-grid;
  display: grid;
  background-color: #000;
  height: 15vh;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
  -ms-grid-rows: 1.1fr 1fr;
      grid-template-rows: 1.1fr 1fr;
      grid-template-areas: "logo__holder upper_menu__holder" "logo__holder lower_menu__holder";
}

section.hero {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  height: 80vh;
  position: relative;
}

section.about__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

section.upcoming_events_scroller {
  display: -ms-grid;
  display: grid;
  height: 5vh;
  padding: var(--pagePadding);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
}

section.upcoming_events__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  grid-gap: 5rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
  scrollbar-width: none;
  -ms-overflow-style: none;
}

section.player_of_the_season_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

section.player_of_the_season_images__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  min-height: 50vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
  grid-gap: 1rem;
}

section.medals_list__holder {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-items: center;
}

section.our_journey_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

section.our_journey_images__holder {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  min-height: 50vh;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section.game_for_everyone_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

section.game_for_everyone_images__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  min-height: 70vh;
  -ms-grid-columns: (minmax(18.75rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section.what_is_touch_rugby__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
      grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

section.blogs_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

section.blogs_images__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: (40vw)[2];
      grid-template-columns: repeat(2, 40vw);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1rem;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 50vh;
}

section.our_sponsors_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

section.our_sponsors_images__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  height: auto;
  -ms-grid-columns: (300px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 300px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  overflow-x: scroll;
  margin-bottom: var(--upDownPadding);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

section.footer__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #000;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

section.footer_credits__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #000;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-top: solid white 0.0225rem;
}

.hd {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 3fr 1fr 20fr;
      grid-template-columns: 3fr 1fr 20fr;
  background-color: #fff;
}

.hd > .hd_logo__holder {
  background-color: #000;
}

.hd > .hd_blankspace {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 0;
  margin: 0;
}

.hd > .hd_blankspace > .shape_space {
  width: 0;
  height: 0;
  border-top: 4.375rem solid white;
  border-left: 4.375rem solid #000;
}

.hd > .hd_blankspace > .idle_space {
  background-color: #000;
}

.hd > .hd_links__holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.hd > .hd_links__holder > .hd_upper_menu__holder {
  background-color: #fff;
}

.hd > .hd_links__holder > .hd_lower_menu__holder {
  background-color: #000;
}

header {
  display: -ms-grid;
  display: grid;
  background-color: #000;
  height: 15vh;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
  -ms-grid-rows: 1.1fr 1fr;
      grid-template-rows: 1.1fr 1fr;
      grid-template-areas: "logo__holder upper_menu__holder" "logo__holder lower_menu__holder";
}

header > .logo__holder {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo__holder;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
}

header > .logo__holder > .logo {
  height: 60%;
}

header > .upper_menu__holder {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: upper_menu__holder;
  background: url(../images/upper_menu__holder_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

header > .upper_menu__holder > ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr 1fr;
      grid-template-columns: 5fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding-right: var(--oneSidePadding);
  grid-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
}

header > .upper_menu__holder > ul > li.username {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: .5rem;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 12px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .upper_menu__holder > ul > li.username > img {
  -ms-grid-column-align: end;
      justify-self: end;
}

header > .upper_menu__holder > ul > li.username > span {
  -ms-grid-column-align: start;
      justify-self: start;
}

header > .upper_menu__holder > ul > li.phone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 2fr;
      grid-template-columns: .5fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: .5rem;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .upper_menu__holder > ul > li.phone > img {
  -ms-grid-column-align: end;
      justify-self: end;
}

header > .upper_menu__holder > ul > li.phone > span {
  -ms-grid-column-align: start;
      justify-self: start;
}

header > .upper_menu__holder > ul > li > button.cta_btn {
  width: 6rem;
  height: 2rem;
  background: #07A358;
  border-radius: 5px;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: .925rem;
  line-height: 12px;
  color: #FFFFFF;
  border: none;
}

/*
header>.upper_menu__holder>ul>li>button.cta_btn {
    // width: 6rem;
    // height: 2rem;
    // background: #07A358;
    // border-radius: 5px;
    // font-family: Rosario;
    // font-style: normal;
    // font-weight: 300;
    // font-size: .925rem;
    // line-height: 12px;
    // color: #FFFFFF;
    // border: none;

    @include cta_btn(10px,10px);
}
*/
header > .lower_menu__holder {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: lower_menu__holder;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .1fr 9.9fr;
      grid-template-columns: .1fr 9.9fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "first_half second_half";
}

header > .lower_menu__holder > div.first_half {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first_half;
}

header > .lower_menu__holder > ul.second_half {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: second_half;
}

header > .lower_menu__holder > ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding-right: var(--oneSidePadding);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
  place-items: center;
  padding-left: 6.25rem;
}

header > .lower_menu__holder > ul > li > a {
  text-decoration: none;
  min-width: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #FFFFFF;
  text-transform: uppercase;
}

header > .lower_menu__holder > ul > li > a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #EA215A;
          text-decoration-color: #EA215A;
  text-decoration-thickness: .3rem;
  text-underline-offset: 1.5px;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav ul > li {
  padding: 8px 8px 8px 32px;
}

/* When you mouse over the navigation links, change their color */
.sidenav ul > li > a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #EA215A;
          text-decoration-color: #EA215A;
  text-decoration-thickness: .3rem;
  text-underline-offset: 1.5px;
}

/*Button*/
.sidenav ul > li > button {
  width: 6rem;
  height: 2rem;
  background: #07A358;
  border-radius: 5px;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: .925rem;
  line-height: 12px;
  color: #FFFFFF;
  border: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px;
}

.sidemenu__holder {
  display: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --pagePadding: 0 2rem 0 2rem;
    --oneSidePadding: 2rem;
  }
  .sidemenu__holder > img {
    max-width: 1.875rem;
  }
  header {
    display: -ms-grid;
    display: grid;
    background-color: #000;
    height: 10vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo__holder sidemenu__holder";
  }
  .upper_menu__holder {
    display: none !important;
  }
  .lower_menu__holder {
    display: none !important;
  }
  header > .logo__holder {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo__holder;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-column-align: start;
        justify-self: start;
    padding-left: 2rem;
  }
  header > .logo__holder > .logo {
    height: 60%;
  }
  header > .upper_menu__holder {
    display: none;
  }
  header > .lower_menu__holder {
    display: none;
  }
  header > .sidemenu__holder {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-grid-row-align: center;
        align-self: center;
    padding-right: 2rem;
  }
  header > .sidemenu__holder > .menu_icon_hambager_closed {
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
  }
  header > .lower_menu__holder {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: lower_menu__holder;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

section.hero {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  height: 80vh;
  position: relative;
}

.hero > .controllers {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.hero > .controllers > .hero_arrow_left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  position: -webkit-sticky;
  position: sticky;
  left: 20px;
}

.hero > .controllers > .hero_arrow_right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  position: -webkit-sticky;
  position: sticky;
  right: 20px;
}

.hero > .sliders__holder {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  height: 100%;
  position: relative;
  grid-gap: .1rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hero > .sliders__holder > .hero_item {
  position: relative;
  height: 100%;
  width: 100vw;
}

.hero > .sliders__holder > .hero_item > .hero_item_image {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.hero > .sliders__holder > .hero_item > figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 6fr 2fr 2fr 4fr;
      grid-template-rows: 6fr 2fr 2fr 4fr;
      grid-template-areas: "pre_title" "title" "description" "cta_btn";
}

.hero > .sliders__holder > .hero_item > figcaption > .pre_title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pre_title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  color: #FFFFFF;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-left: 80px;
}

.hero > .sliders__holder > .hero_item > figcaption > .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 1000;
  font-size: 3rem;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 80px;
}

.hero > .sliders__holder > .hero_item > figcaption > .title > span {
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #FFFFFF;
}

.hero > .sliders__holder > .hero_item > figcaption > .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  width: 45%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #FFFFFF;
  padding-left: 80px;
}

.hero > .sliders__holder > .hero_item > figcaption > .cta_btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cta_btn;
  width: 6rem;
  height: 2rem;
  background: #07A358;
  border-radius: 5px;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: .925rem;
  line-height: 12px;
  color: #FFFFFF;
  border: none;
  position: relative;
  left: 5rem;
  top: 2rem;
  width: 10rem;
}

.hero > .sliders__holder > .hero_item > figcaption > ._cta_btn {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cta_btn;
  width: 98px;
  height: 24px;
  background: #07A358;
  border-radius: 6px;
  border: none;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 8px;
  color: #FFFFFF;
  left: 80px;
}

@media screen and (max-width: 1200px) {
  .hero > .sliders__holder > .hero_item > figcaption > .pre_title {
    padding-left: 2.8rem;
  }
  .hero > .sliders__holder > .hero_item > figcaption > .title {
    padding-left: 2.8rem;
  }
  .hero > .sliders__holder > .hero_item > figcaption > .description {
    max-width: 75%;
    padding-left: 2.8rem;
  }
  .hero > .sliders__holder > .hero_item > figcaption > .cta_btn {
    left: 2.8rem;
  }
}

section.about__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

.about__holder > .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 5rem;
  text-align: center;
}

.about__holder > .separator {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: separator;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.about__holder > .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  width: 70%;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 5rem;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: normal;
}

section.upcoming_events__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  grid-gap: 5rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  overflow-x: scroll;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.upcoming_events_scroller {
  display: -ms-grid;
  display: grid;
  height: 5vh;
  padding: var(--pagePadding);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
}

.upcoming_events__holder > .event {
  position: relative;
  height: 25rem;
  width: 40rem;
}

.upcoming_events__holder > .event > .event_image {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.upcoming_events__holder > .event > figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(1.37deg, rgba(13, 8, 8, 0.89) 0.68%, rgba(255, 255, 255, 0) 98.36%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2fr 4fr 2fr;
      grid-template-rows: 2fr 4fr 2fr;
      grid-template-areas: "title__holder" "subtitle" "location";
}

.upcoming_events__holder > .event > figcaption > .title__holder {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title__holder;
  display: -ms-grid;
  display: grid;
  width: 126px;
  height: 24px;
  background: rgba(14, 5, 5, 0.4);
  border-radius: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-row-align: end;
      align-self: end;
  margin-left: 20px;
}

.upcoming_events__holder > .event > figcaption > .title__holder > .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */
  color: #FFFFFF;
}

.upcoming_events__holder > .event > figcaption > .subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
  -ms-flex-item-align: end;
      align-self: end;
  margin-left: 20px;
}

.upcoming_events__holder > .event > figcaption > .location {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: location;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  -ms-flex-item-align: start;
      align-self: start;
  margin-left: 20px;
}

section.player_of_the_season_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

.player_of_the_season_text__holder > .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 5rem;
  text-align: center;
}

.player_of_the_season_text__holder > .title > span {
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 41px;
  text-transform: uppercase;
  color: #000000;
}

.player_of_the_season_text__holder > .separator {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: separator;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.player_of_the_season_text__holder > .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  width: 70%;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 5rem;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: normal;
}

section.player_of_the_season_images__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  min-height: 50vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
  grid-gap: 1rem;
}

.player_of_the_season_images__holder > .img__holder > img {
  height: 100%;
  width: 100%;
}

.player_of_the_season_images__holder > .img__holder > .player_of_the_season_a {
  -o-object-fit: cover;
     object-fit: cover;
}

.player_of_the_season_images__holder > .img__holder > .player_of_the_season_b {
  -o-object-fit: cover;
     object-fit: cover;
}

.player_of_the_season_images__holder > .img__holder > .player_of_the_season_c {
  -o-object-fit: cover;
     object-fit: cover;
}

.player_of_the_season_images__holder > .img__holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 123fr 123fr 420fr;
      grid-template-columns: 123fr 123fr 420fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-items: center;
}

.player_of_the_season_images__holder > .btn__holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1rem;
  justify-items: center;
}

.player_of_the_season_images__holder > .btn__holder > button {
  width: 6rem;
  height: 2rem;
  background: #07A358;
  border-radius: 5px;
  font-family: Rosario;
  font-style: normal;
  font-weight: 300;
  font-size: .925rem;
  line-height: 12px;
  color: #FFFFFF;
  border: none;
}

section.medals_list__holder {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-items: center;
}

.medals_list__holder > div {
  max-height: 18.75rem;
  max-width: 18.75rem;
  padding: 3.5rem;
  border: 0.5rem solid #07a257;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 6fr 2fr 2fr 6fr;
      grid-template-rows: 6fr 2fr 2fr 6fr;
      grid-template-areas: "title" "subtitle" "separator" "description";
  grid-gap: 1rem;
}

.medals_list__holder > div > .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  text-transform: capitalize;
  color: #07A358;
      justify-self: center;
  -ms-flex-item-align: end;
      align-self: end;
}

.medals_list__holder > div > .subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
  color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.medals_list__holder > div > .separator {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: separator;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.medals_list__holder > div > .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: start;
      align-self: start;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

section.our_journey_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

.our_journey_text__holder > .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: var(--upDownPadding);
}

.our_journey_text__holder > .separator {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: separator;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.our_journey_text__holder > .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  width: 70%;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: var(--upDownPadding);
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: normal;
}

section.our_journey_images__holder {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  min-height: 50vh;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.our_journey_images__holder > div > p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
      justify-self: start;
  -ms-flex-item-align: end;
      align-self: end;
  padding-left: 1rem;
  width: 112px;
  height: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.our_journey_images__holder > div {
  min-height: 300px;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
      grid-template-areas: "title" ".";
}

.our_journey_images__holder > .our_journey__extreme_level_of_sports_a {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/our_journey__extreme_level_of_sports_a.svg) no-repeat;
  background-size: cover;
}

.our_journey_images__holder > .our_journey__extreme_level_of_sports_b {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/our_journey__extreme_level_of_sports_b.svg) no-repeat;
  background-size: cover;
}

.our_journey_images__holder > .our_journey__extreme_level_of_sports_c {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/our_journey__extreme_level_of_sports_c.svg) no-repeat;
  background-size: cover;
}

section.game_for_everyone_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

.game_for_everyone_text__holder > .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 5rem;
  text-align: center;
}

.game_for_everyone_text__holder > .title > span {
  width: 373px;
  height: 48px;
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
}

.game_for_everyone_text__holder > .separator {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: separator;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.game_for_everyone_text__holder > .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  width: 70%;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 5rem;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: normal;
}

section.game_for_everyone_images__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  min-height: 70vh;
  -ms-grid-columns: (minmax(18.75rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.game_for_everyone_images__holder > div > p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
      justify-self: start;
  -ms-flex-item-align: end;
      align-self: end;
  padding-left: 1rem;
  width: 112px;
  height: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.game_for_everyone_images__holder > div {
  min-height: 18.75rem;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
      grid-template-areas: "title" ".";
}

.game_for_everyone_images__holder > .extreme_level_of_sports_a {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/extreme_level_of_sports_a.svg) no-repeat;
  background-size: cover;
}

.game_for_everyone_images__holder > .extreme_level_of_sports_b {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/extreme_level_of_sports_b.svg) no-repeat;
  background-size: cover;
}

.game_for_everyone_images__holder > .extreme_level_of_sports_c {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/extreme_level_of_sports_c.svg) no-repeat;
  background-size: cover;
}

.game_for_everyone_images__holder > .extreme_level_of_sports_d {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/extreme_level_of_sports_d.svg) no-repeat;
  background-size: cover;
}

.game_for_everyone_images__holder > .extreme_level_of_sports_e {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/extreme_level_of_sports_e.svg) no-repeat;
  background-size: cover;
}

.game_for_everyone_images__holder > .extreme_level_of_sports_f {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/extreme_level_of_sports_f.svg) no-repeat;
  background-size: cover;
}

section.what_is_touch_rugby__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
      grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.what_is_touch_rugby__holder > .img__holder {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 1;
  grid-row: 1;
  border-radius: 10px;
  background: url(../images/what_is_touch.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 50vh;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.what_is_touch_rugby__holder > .text__holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 1;
  grid-row: 1;
  background: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what_is_touch_rugby__holder > .text__holder > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4fr 1fr 4fr 4fr;
      grid-template-rows: 4fr 1fr 4fr 4fr;
  height: 40vh;
  background: #FFFFFF;
  border-radius: 5px;
  border: solid 1px grey;
}

.what_is_touch_rugby__holder > .text__holder > div > .separator {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.what_is_touch_rugby__holder > .text__holder > div > .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  color: #000000;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: center;
}

.what_is_touch_rugby__holder > .text__holder > div > .title > span {
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-transform: capitalize;
  color: #000000;
}

.what_is_touch_rugby__holder > .text__holder > div > .description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #000000;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 0 2rem 0 2rem;
}

.what_is_touch_rugby__holder > .text__holder > div > button {
  width: 61px;
  height: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  width: 140px;
  height: 26px;
  background: #07A358;
  border-radius: 6px;
  border: none;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1200px) {
  .what_is_touch_rugby__holder > .img__holder {
    height: auto;
  }
  .what_is_touch_rugby__holder > .text__holder > div {
    margin: 10px;
    opacity: .8;
  }
  .what_is_touch_rugby__holder > .text__holder {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3/7;
  }
}

section.blogs_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

.blogs_text__holder > .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: var(--upDownPadding);
}

.blogs_text__holder > .separator {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: separator;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.blogs_text__holder > .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  width: 70%;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  color: #000000;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: var(--upDownPadding);
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: normal;
}

section.blogs_images__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: (40vw)[2];
      grid-template-columns: repeat(2, 40vw);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1rem;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 50vh;
}

.blogs_images__holder > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4fr 6fr 1fr 3fr;
      grid-template-rows: 4fr 6fr 1fr 3fr;
      grid-template-areas: "." "title" "location" "description";
  padding: 0 1rem 0 2rem;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blogs_images__holder > .touch_nanyuki {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/touch_nanyuki.svg) no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.blogs_images__holder > .touch_kisumu {
  background: linear-gradient(1.3deg, #060A03 0.62%, rgba(12, 17, 7, 0) 53.1%), url(../images/touch_kisumu.svg) no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.blogs_images__holder > div > .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: end;
      align-self: end;
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 55px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.blogs_images__holder > div > .location {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: location;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 27px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.blogs_images__holder > div > .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  -ms-flex-item-align: start;
      align-self: start;
  width: 279px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #FFFFFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1200px) {
  section.blogs_images__holder {
    display: -ms-grid;
    display: grid;
    padding: var(--pagePadding);
    background-color: #fff;
    -ms-grid-columns: (100%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 100%);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1rem;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    min-height: 50vh;
  }
}

section.our_sponsors_text__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr .4fr 4fr;
      grid-template-rows: 3fr .4fr 4fr;
      grid-template-areas: "title" "separator" "description";
}

.our_sponsors_text__holder > .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000000;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: var(--upDownPadding);
}

.our_sponsors_text__holder > .separator {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: separator;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.our_sponsors_text__holder > .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  width: 70%;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  color: #000000;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: var(--upDownPadding);
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: normal;
}

section.our_sponsors_images__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #fff;
  height: auto;
  -ms-grid-columns: (300px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 300px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  overflow-x: scroll;
  margin-bottom: var(--upDownPadding);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

section.footer__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #000;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.footer__holder > .footer_social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding-top: 33px;
}

.footer__holder > .footer_social > .social__holder {
  text-align: center;
  white-space: wrap;
  width: 100%;
}

.footer__holder > .footer_social > .social__holder > span,
.footer__holder > .footer_social > .social__holder ul {
  display: inline;
}

.footer__holder > .footer_social > .social__holder > br {
  display: none;
}

.footer__holder > .footer_social > .social__holder span {
  color: #fff;
}

.footer__holder > .footer_social > .social__holder ul {
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
}

.footer__holder > .footer_social > div li {
  display: inline;
  padding: 10px;
}

.footer__holder > .footer_social .fab,
.footer__holder > .footer_social .fab::before {
  color: #888;
  font-size: 20px;
}

.footer__holder > .footer_social .fab:hover::before {
  color: #fff;
  font-size: 22px;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.footer__holder > .footer__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.footer__holder > .footer__links > div {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.footer__holder > .footer__links > div > ul > li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 188.6%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: .5rem 0 .5rem 0;
  cursor: pointer;
}

.footer__holder > .footer__links > div > ul > li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .footer__holder > .footer_social > .social__holder > span,
  .footer__holder > .footer_social > .social__holder br,
  .footer__holder > .footer_social > .social__holder ul {
    display: block;
    padding: 15px 0;
  }
  .footer__holder > div > ul > li {
    font-size: 14px;
  }
  .footer__holder > .footer__links {
    display: block;
    text-align: center;
  }
}

section.footer_credits__holder {
  display: -ms-grid;
  display: grid;
  padding: var(--pagePadding);
  background-color: #000;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.footer_credits__holder > div > p {
  text-align: center;
  color: #FFFFFF;
  margin: 1rem 0 1rem 0;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 12px;
}

@media screen and (max-width: 1200px) {
  :root {
    --pagePadding: 0 2rem 0 2rem;
    --oneSidePadding: 2rem;
  }
  section.blogs_images__holder {
    display: -ms-grid;
    display: grid;
    padding: var(--pagePadding);
    background-color: #fff;
    -ms-grid-columns: (100%)[auto-fit];
        grid-template-columns: repeat(auto-fit, 100%);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 1rem;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    min-height: 50vh;
  }
  section.footer__holder {
    padding: 0;
  }
}
/*# sourceMappingURL=touchrugby.css.map */