.hd {
    outline: purple 1px solid;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr 6fr;
}





header {
    display: grid;
    background-color: #000;
    height: 15vh;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1.1fr 1fr;
    grid-template-areas: "logo__holder upper_menu__holder""logo__holder lower_menu__holder";
}

header>.logo__holder {
    grid-area: logo__holder;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

header>.logo__holder>.logo {
    height: 60%;
}

header>.upper_menu__holder {
    grid-area: upper_menu__holder;
    background: url(../images/upper_menu__holder_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

header>.upper_menu__holder>ul {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-right: var(--oneSidePadding);
    grid-gap: 1rem;
    align-items: center;
    justify-items: end;
}

header>.upper_menu__holder>ul>li.username {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: .5rem;
    font-family: Rosario;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    color: #000;
    align-items: center;
}


header>.upper_menu__holder>ul>li.username>img {
    justify-self: end;
}

header>.upper_menu__holder>ul>li.username>span {
    justify-self: start;

}

header>.upper_menu__holder>ul>li.phone {
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: .5rem;
    font-family: Rosario;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    align-items: center;
}

header>.upper_menu__holder>ul>li.phone>img {
    justify-self: end;
}

header>.upper_menu__holder>ul>li.phone>span {
    justify-self: start;

}

header>.upper_menu__holder>ul>li>button.cta_btn {
    width: 6rem;
    height: 2rem;
    background: #07A358;
    border-radius: 5px;
    font-family: Rosario;
    font-style: normal;
    font-weight: 300;
    font-size: .925rem;
    line-height: 12px;
    color: #FFFFFF;
    border: none;
}

header>.lower_menu__holder {
    grid-area: lower_menu__holder;
    display: grid;

    grid-template-columns: .1fr 9.9fr;
    grid-template-rows: auto;
    grid-template-areas: "first_half second_half";
}

header>.lower_menu__holder>div.first_half {
    grid-area: first_half;
}

header>.lower_menu__holder>ul.second_half {
    grid-area: second_half;
}

header>.lower_menu__holder>ul {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1.3fr 1fr;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: auto;
    padding-right: var(--oneSidePadding);
    align-items: center;
    grid-gap: 1rem;
    // grid-template-areas: "Home About News What_Is_Touch_Rugby Sponsorship Rules Contacts search_icon";
    place-items: center;
    padding-left: 6.25rem;
}

header>.lower_menu__holder>ul>li>a {
    text-decoration: none;
    min-width: 100px;
    // height: 8px;
    // left: 300px;
    // top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    // line-height: 0.5rem;
    color: #FFFFFF;
    text-transform: uppercase;
}


header>.lower_menu__holder>ul>li>a:hover {
    text-decoration: underline;
    text-decoration-color: #EA215A;
    // text-decoration-thickness: .125em;
    text-decoration-thickness: .3rem;
    text-underline-offset: 1.5px;

}

/*
header>.lower_menu__holder>ul>li.Home {
    grid-area: Home;
    justify-self: end;
}

header>.lower_menu__holder>ul>li.About {
    grid-area: About;
    justify-self: center;
}

header>.lower_menu__holder>ul>li.News {
    grid-area: News;
    justify-self: center;
}

header>.lower_menu__holder>ul>li.What_Is_Touch_Rugby {
    grid-area: What_Is_Touch_Rugby;
    justify-self: center;
}

header>.lower_menu__holder>ul>li.Sponsorship {
    grid-area: Sponsorship;
    justify-self: center;
}

header>.lower_menu__holder>ul>li.Rules {
    grid-area: Rules;
    justify-self: center;
}

header>.lower_menu__holder>ul>li.Contacts {
    grid-area: Contacts;
    justify-self: end;
}

header>.lower_menu__holder>ul>li.search_icon {
    grid-area: search_icon;
    justify-self: center;
}

*/





//Responsive Web Design - Quirkmode 

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav ul>li {
    padding: 8px 8px 8px 32px;

}

/* When you mouse over the navigation links, change their color */
.sidenav ul>li>a:hover {
    // color: #f1f1f1;
    text-decoration: underline;
    text-decoration-color: #EA215A;
    // text-decoration-thickness: .125em;
    text-decoration-thickness: .3rem;
    text-underline-offset: 1.5px;
}

/*Button*/
.sidenav ul>li>button {
    // margin-left: 10%;
    width: 6rem;
    height: 2rem;
    background: #07A358;
    border-radius: 5px;
    font-family: Rosario;
    font-style: normal;
    font-weight: 300;
    font-size: .925rem;
    line-height: 12px;
    color: #FFFFFF;
    border: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}


.sidemenu__holder {
    display: none;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}



@media screen and (max-width: 1200px) {

    :root {
        // --pagePadding: 0 121px 0 121px;
        // --oneSidePadding: 121px;
        --pagePadding: 0 2rem 0 2rem;
        --oneSidePadding: 2rem;
    }

    .sidemenu__holder>img {
        max-width: 1.875rem;
    }

    header {
        display: grid;
        background-color: #000;
        height: 10vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "logo__holder sidemenu__holder";
        ;
    }

    .upper_menu__holder {
        display: none !important;
    }

    .lower_menu__holder {
        display: none !important;
    }


    header>.logo__holder {
        grid-area: logo__holder;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-self: start;
        padding-left: 2rem;
    }

    header>.logo__holder>.logo {
        height: 60%;
    }

    header>.upper_menu__holder {
        display: none;
    }


    header>.lower_menu__holder {
        display: none;
    }


    header>.sidemenu__holder {
        display: grid;
        justify-self: end;
        align-self: center;
        padding-right: 2rem;
    }


    header>.sidemenu__holder>.menu_icon_hambager_closed {
        height: 1.875rem;
        width: 1.875rem;
        cursor: pointer;
    }

    header>.lower_menu__holder {
        grid-area: lower_menu__holder;
        display: grid;
        grid-template-columns: auto;
    }

}