.hd {
    position: sticky;
    top: 0;
    z-index: 2;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr 20fr;
    background-color: #fff;


    &>.hd_logo__holder {
        background-color: #000;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        place-items: center center;

        &>.logo {
            height: 80%;
        }
    }

    &>.hd_blankspace {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        background-color: var(--touchWhite);

        &>.shape_space {
            width: 0;
            height: 0;
            border-top: 70px solid white;
            border-left: 70px solid #000;
        }

        &>.idle_space {
            background-color: #000;
        }

    }

    &>.hd_links__holder {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;

        &>.hd_upper_menu__holder {

            padding-right: 121px;

            background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &>li {
                display: inline-grid;
                font-family: Rosario;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                color: #000;

                &>a {
                    text-decoration: none;
                    color: var(--touchBlack) !important;

                    &:hover {
                        -webkit-animation: glow 1s ease-in-out infinite alternate;
                        -moz-animation: glow 1s ease-in-out infinite alternate;
                        animation: glow 1s ease-in-out infinite alternate;
                    }
                }

                &>a>i {
                    margin: 0 5px 0 0;

                    &::before {
                        font-size: 0.875rem;
                        color: var(--touchGreen);
                    }
                }



                &>button {
                    @include cta_btn(null, null)
                }
            }
        }

        &>.hd_lower_menu__holder {

            padding-right: 121px;

            background-color: #000; 

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


            &>li {
                display: inline-grid;
                font-family: Rosario;
                font-style: normal;
                font-weight: 300;
                font-size: 1rem;

                &>a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--touchWhite);
                    transition: text-decoration-color 1s, text-underline-offset 1s, color 1.5s;

                    &:hover {
                        text-decoration: underline overline;
                        text-decoration-color: var(--touchGreen);
                        text-decoration-thickness: .1rem;
                        text-underline-offset: 0.5rem;
                        color: var(--touchGreen);

                    }
                }
            }
        }
    }

    &>.hd_sidemenu__holder {
        display: none;
    }
}


/*
header {
    display: grid;
    background-color: #000;
    height: 15vh;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1.1fr 1fr;
    grid-template-areas: "logo__holder upper_menu__holder""logo__holder lower_menu__holder";
}

header>.logo__holder {
    grid-area: logo__holder;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center center;
}

header>.logo__holder>.logo {
    height: 60%;
}

header>.upper_menu__holder {
    grid-area: upper_menu__holder;
    background: url(../images/upper_menu__holder_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

header>.upper_menu__holder>ul {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-right: var(--oneSidePadding);
    grid-gap: 1rem;
    align-items: center;
    justify-items: end;
}

header>.upper_menu__holder>ul>li.username {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: .5rem;
    font-family: Rosario;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    color: #000;
    align-items: center;
}


header>.upper_menu__holder>ul>li.username>img {
    justify-self: end;
}

header>.upper_menu__holder>ul>li.username>span {
    justify-self: start;

}

header>.upper_menu__holder>ul>li.phone {
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: .5rem;
    font-family: Rosario;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    align-items: center;
}

header>.upper_menu__holder>ul>li.phone>img {
    justify-self: end;
}

header>.upper_menu__holder>ul>li.phone>span {
    justify-self: start;

}

header>.upper_menu__holder>ul>li>button.cta_btn {
    width: 6rem;
    height: 2rem;
    background: #07A358;
    border-radius: 5px;
    font-family: Rosario;
    font-style: normal;
    font-weight: 300;
    font-size: .925rem;
    line-height: 12px;
    color: #FFFFFF;
    border: none;
}
*/

/*
header>.upper_menu__holder>ul>li>button.cta_btn {
    // width: 6rem;
    // height: 2rem;
    // background: #07A358;
    // border-radius: 5px;
    // font-family: Rosario;
    // font-style: normal;
    // font-weight: 300;
    // font-size: .925rem;
    // line-height: 12px;
    // color: #FFFFFF;
    // border: none;

    @include cta_btn(10px,10px);
}
*/

/*
header>.lower_menu__holder {
    grid-area: lower_menu__holder;
    display: grid;

    grid-template-columns: .1fr 9.9fr;
    grid-template-rows: auto;
    grid-template-areas: "first_half second_half";
}

header>.lower_menu__holder>div.first_half {
    grid-area: first_half;
}

header>.lower_menu__holder>ul.second_half {
    grid-area: second_half;
}

header>.lower_menu__holder>ul {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1.3fr 1fr;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: auto;
    padding-right: var(--oneSidePadding);
    align-items: center;
    grid-gap: 1rem;
    // grid-template-areas: "Home About News What_Is_Touch_Rugby Sponsorship Rules Contacts search_icon";
    place-items: center center;
    padding-left: 6.25rem;
}

header>.lower_menu__holder>ul>li>a {
    text-decoration: none;
    min-width: 100px;
    // height: 8px;
    // left: 300px;
    // top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    // line-height: 0.5rem;
    color: #FFFFFF;
    text-transform: uppercase;
}


header>.lower_menu__holder>ul>li>a:hover {
    text-decoration: underline;
    text-decoration-color: #EA215A;
    // text-decoration-thickness: .125em;
    text-decoration-thickness: .3rem;
    text-underline-offset: 1.5px;

}

*/






//Responsive Web Design - Quirkmode

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav ul>li {
    padding: 8px 8px 8px 32px;

}

/* When you mouse over the navigation links, change their color */
.sidenav ul>li>a:hover {
    // color: #f1f1f1;
    text-decoration: underline;
    text-decoration-color: #EA215A;
    // text-decoration-thickness: .125em;
    text-decoration-thickness: .3rem;
    text-underline-offset: 1.5px;
}

/*Button*/
.sidenav ul>li>button {
    // margin-left: 10%;
    width: 6rem;
    height: 2rem;
    background: #07A358;
    border-radius: 5px;
    font-family: Rosario;
    font-style: normal;
    font-weight: 300;
    font-size: .925rem;
    line-height: 12px;
    color: #FFFFFF;
    border: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}


.sidemenu__holder {
    display: none;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}



@media screen and (max-width: 1200px) {

    :root {
        // --pagePadding: 0 121px 0 121px;
        // --oneSidePadding: 121px;
        --pagePadding: 0 2rem 0 2rem;
        --oneSidePadding: 2rem;
    }

    .hd {
        grid-template-columns: 1fr 1fr;
        height: 10vh;


        &>.hd_logo__holder {
            place-items: center start;
            padding-left: 50px;
        }

        &>.hd_blankspace {
            display: none;
        }

        &>.hd_links__holder {
            display: none;
        }

        &>.hd_sidemenu__holder {
            background-color: #000;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            place-items: center end;
            padding-right: 50px;

            &>i::before {
                font-size: 30px;
                color: var(--touchWhite);
            }


        }


    }

}