@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '../../../mixins/_index.scss';

:root {
    // --pagePadding: 0 121px 0 121px;
    // --oneSidePadding: 121px;
    --pagePadding: 0 7.563rem 0 7.563rem;
    --oneSidePadding: 7.563rem;
    --sectionMarginTop: 10vh;
    --upDownPadding: 5rem;


    //colors
    --touchGreen: #07A358;
    --touchBlack: #000;
    --touchWhite:  #fff;
    --touchRed: #ff0000;
}

/*Chrome Vendor Prefix For scrollers*/
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

abbr {
    //for use in places where CSS truncates text 05120482AllanAEld
    text-decoration: none;
}


strong {
    font-weight: 900;
}

body{
    max-width: 1440px; 
	margin: 0 auto !important; 
	float: none !important;
    position: relative;
    // background: url(../images/rugby_bg_small_pattern.png);
    // border-right:solid 1px black;
    // border-left:solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    // background-attachment: fixed;
}

main{
    background:var(--touchWhite);
}

@-ms-viewport{
    width: device-width;
  }


@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--touchGreen), 0 0 40px var(--touchGreen), 0 0 50px var(--touchGreen), 0 0 60px var(--touchGreen), 0 0 70px var(--touchGreen);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px var(--touchRed), 0 0 40px var(--touchRed), 0 0 50px var(--touchRed), 0 0 60px var(--touchRed), 0 0 70px var(--touchRed), 0 0 80px var(--touchRed);
    }
  }

@media screen and (max-width: 1200px) {
    :root {
        --pagePadding: 0 2rem 0 2rem;
        --oneSidePadding: 2rem;
    }
}