.footer_credits__holder>div>p {
    text-align: center;
    color: #FFFFFF;
    margin: 1rem 0 1rem 0;
    justify-self: center;
    align-self: center;
}

//Responsive Web Design - Quirkmode
@media screen and (max-width: 1200px) {

}