.footer_credits__holder {
    display: grid;
    padding: var(--pagePadding);
    background-color: #000;
    // height: 10vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr
}

.footer_credits__holder>div>p {
    text-align: center;
    color: var(--touchWhite);
    margin: 1rem 0 1rem 0;
    justify-self: center;
    align-self: center;
    font-size: 12px;

    & > a{
        text-decoration: none;
        color: var(--touchWhite);

        &:hover {
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
        }
    }
}
