.footer__holder>div {
  justify-self: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.footer__holder>div>ul>li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 188.6%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: .5rem 0 .5rem 0;
  cursor: pointer;
}



//Responsive Web Design - Quirkmode

@media screen and (max-width: 1200px) {


  .footer__holder>div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    min-width: 80%;
  }


  .footer__holder>div>ul>li {
    font-size: 14px;
  }
}